<!DOCTYPE html>
<html>

<head>
  <title>{{ title }}</title>

  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {{#if favicon}}
  <link rel="shortcut icon" type="image/x-icon" href="{{ favicon }}" />
  {{/if}}

  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700|Montserrat:300,400,700" rel="stylesheet">

  <style>
    body { margin: 0; padding: 0; }
  </style>
</head>

<body>
  <div id="redoc-container"></div>
  <script src="https://cdn.jsdelivr.net/npm/redoc@2.0.0-rc.55/bundles/redoc.standalone.min.js"> </script>
  <script src="https://cdn.jsdelivr.net/gh/wll8/redoc-try@1.4.0/dist/try.js"></script>
  <script>
    initTry({
      openApi: '{{ openApiUrl }}' || window.location.href.replace(/\/docs$/, '/openapi/json'),
      tryText: '⯈',
      redocOptions: JSON.parse('{{{ options }}}'),
    })
  </script>
</body>

</html>
